// Cards - Card 1

.j-c1 {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border: 1px solid $gray3;
    height: 100px;
    width: 400px;
}

.j-c1-i-c {
    margin: 0px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: $green;
}

.j-c1-i-c i {
    font-size: 44px;
    color: white;
}

.j-c1-b-c {
    flex: 1;
}

.j-c1-b-title {
    font-size: 1.2rem;
    font-weight: 300;
    color: $gray5;
}

.j-c1-b-subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    color: $gray5;
}

.j-c1-l-c {
    position: relative;
    margin: 0px 15px;
}

.j-c1-link i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 36px;
    color: $gray4;
}

.j-c1-link i:last-child {
    position: absolute;
    top: 0px;
    left: -11.1px;
    color: $gray2;
    z-index: -1;
    transform: scale(.1);
    transition: all .2s;
}

.j-c1-link a:hover i:last-child {
    position: absolute;
    top: 0px;
    left: -11px;
    color: $gray2;
    z-index: -1;
    transform: scale(1.2);
}

// Cards - Card 2

.j-c2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray3;
    height: 100px;
    width: 400px;
    margin-bottom: 20px;
}

.j-c2-i-c {
    margin: 0px 25px;
    text-align: center;
}

.j-c2-b-c {
    flex: 1;
}

.j-c2-b-title {
    font-size: 1.2rem;
    font-weight: 400;
    color: #495057;
}

.j-c2-l-c {
    position: relative;
    margin: 0px 15px;
    padding: 10px;
    border-radius: 5px;
}

.j-c2-link i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 36px;
    color: #CED4DA;
}

.j-c2-link i:last-child {
    position: absolute;
    top: 10px;
    left: -1px;
    color: #FCFCFC;
    z-index: -1;
    transform: scale(.1);
    transition: all .2s;
}

.j-c2-link a:hover  i:last-child {
    position: absolute;
    top: 10px;
    left: -1px;
    color: #F8F9FA;
    z-index: -1;
    transform: scale(1.2);
}

// Cards - Card 3

.j-c3 {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border: 1px solid $gray3;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 15px;
}

.j-c3-i-c {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    line-height: 35px;
}

.j-c3-number {
    font-weight: 700;
    font-size: 22px;
}

.j-c3-b-c {
    flex: 1;
    padding-left: 15px;
}

.j-c3-b-title {
    font-size: 1.2rem;
    font-weight: 400;
    color: #495057;
}

.j-c3-l-c {
    margin: 0px 15px;
    padding: 10px;
    border-radius: 5px;
}

.j-c3-link a {
    display: block;
    width: 100px;
    height: 30px;
    background-color: #339AF0;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .3s;
}

.j-c3-link a:hover {
    background-color: #228BE6;
    text-decoration: none;
    color: white;
}

// Cards - Graphic Card 1

.j-graphic-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.j-graphic-card {
    border: 1px solid $gray3;
    display: flex;
    flex-direction: column;
}

.j-graphic-head {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $gray3;
    width: 100%;
    padding: 10px;
}

.j-select-container {
    display: flex;
}

.j-select-container .form-control {
    margin-left: 5px;
}

.j-graphic-body {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}