// Typography

.j-h1,
.j-h2,
.j-h3,
.j-h4,
.j-h5,
.j-h6
    {
    font-family: $fontFamilyPrimary;
    color: $gray6;
}

// H1

.j-h1 {
    margin: 2rem 0 2rem 0;
}

.j-h1-w{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
}

.j-h1-w i {
    margin-right: 15px;
}

.j-h1-n {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    line-height: 32px;
    color: #339AF0;
    font-weight: 700;
    font-size: 20px;
    margin-right: 15px;
}

.j-h1 h1{
    font-size: 2rem;
    font-family: $fontFamilyPrimary;
    font-weight: 400; 
    color: #495057;
    margin: 0px;
}

.j-h2 h2{
    font-size: 1.75rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $gray3;
    margin: 1.5rem 0 1.5rem 0;
}

// Higcharts Titles

.highcharts-title {
    font-family: $fontFamilyPrimary;
    font-weight: 400; 
    color: #495057;
}