// Variables
@import 'variables';

// Typography
@import 'typography';

// Cards
@import 'cards';

// BreadCrumb
@import 'breadcrumbs';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;
}

.j-footer {
    background: linear-gradient(90deg, #000851 0%, #1CB5E0 100%);
}

.j-footer a {
	color: white;
	text-decoration: none;
}